.form-group.required .col-form-label:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 3px; }

.nav-user-menu .user-image {
  width: 20px;
  margin-right: 4px;
  margin-top: -4px; }


.inner-center {
    display: table;
    margin: 0 auto;
}

.outer-center {
    width: 100%
}

.mg-bottom-5 {
    margin-bottom: 3px;
}

.hand-cursor {
    cursor: pointer;
}

.dropdown-toggle::after {
    border-top: none !important;
}