/* -- å…¬å…±æ ·å¼ -- */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: #314659;
    font-weight: 500;
    overflow-x: hidden;
}

.fixed-nav-body {
    background-color: #FAFAFA;
    padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #0d1a26;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

p {
    margin-bottom: 15px;
}

a {
    color: #4aca85;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

a:hover, a:focus {
    color: #4aca85;
    opacity: 0.8;
}

.main-color {
    color: #4aca85;
}

.white-text {
    color: #FFF;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.inline-block {
    display: inline-block;
}

.text-danger {
    color: #FF5722;
}

.text-success {
    color: #5FB878;
}

.text-waring {
    color: #FFB800;
}

/* --  Buttons  -- */

.layui-btn:not(.layui-btn-radius) {
    border-radius: 4px;
}

.layui-btn:not(.layui-btn-primary):not(.layui-btn-normal):not(.layui-btn-warm):not(.layui-btn-danger):not(.layui-btn-disabled) {
    background-color: #4aca85;
}

.layui-btn-primary:hover {
    border-color: #C9C9C9;
}

.outline-btn {
    background-color: transparent !important;
    color: #4aca85;
    border: 1px solid #4aca85;
    box-sizing: content-box;
}

.outline-btn:hover {
    color: #4aca85;
}

.layui-elem-quote {
    border-color: #4aca85;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 38px -13px rgba(0, 0, 0, 0.2);
}

.layui-card {
    box-shadow: 0px 3px 38px -13px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.layui-card-header {
    font-size: 18px;
    height: 46px;
    line-height: 46px;
    color: #314659;
}

.layui-card-body table, .layui-table-view {
    margin: 0 !important;
}

/** ç½‘é¡µé€‰ä¸­ */
::selection {
    background-color: #4aca85;
    color: #FFF;
}

::-moz-selection {
    background-color: #4aca85;
    color: #FFF;
}

/** section  */

.section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-header {
    position: relative;
    margin-bottom: 40px;
}

.section-header .title {
    margin-bottom: 0;
}

.section-header .title:after {
    content: "";
    display: block;
    height: 4px;
    width: 40px;
    background-color: #4aca85;
    margin-top: 20px;
}

.section-header.text-center .title:after {
    margin: 20px auto 0px;
}

/* --  background section  -- */

.bg-grey {
    background-color: #FAFAFA;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.bg-dark {
    background-color: #1C1D21;
}

/* --  background image section  -- */

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    background: #0033FF;
}

/** header */

.main-nav {
    padding: 10px 0px;
    background: #FFF;
    -webkit-transition: 0.2s padding;
    transition: 0.2s padding;
    z-index: 999;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.main-nav.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 0px;
}

.main-nav.nav-transparent {
    background: transparent;
    border: none;
    box-shadow: none;
}

/* logo */
.main-nav .navbar-header, .navbar-brand {
    display: inline-block;
    max-height: 50px;
}

.main-nav .navbar-brand .logo, .navbar-brand .logo-alt {
    max-height: 30px;
    padding: 10px 0;
    display: block;
}

.main-nav:not(.nav-transparent):not(.fixed-nav) .navbar-brand .logo-alt {
    display: none;
}

.main-nav.nav-transparent:not(.fixed-nav) .navbar-brand .logo {
    display: none;
}

.main-nav.fixed-nav .navbar-brand .logo-alt {
    display: none;
}

/* navbar */

.main-nav .navbar {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    line-height: 1.6;
}

.main-nav .navbar > li {
    position: relative;
    display: inline-block;
    padding: 0px 15px;
}

.main-nav .navbar > li > a {
    display: block;
    padding: 15px 0;
    color: #314659;
    font-size: 14px;
    line-height: 20px;
    transition: 0.2s color;
    -webkit-transition: 0.2s color;
    cursor: pointer;
}

.main-nav.nav-transparent .navbar > li > a {
    color: #fff !important;
}

.main-nav .navbar > li.active > a {
    color: #4aca85;
    opacity: 1;
}

@media only screen and (min-width: 767px) {

    .main-nav .navbar > li > a:after {
        content: "";
        display: block;
        background-color: #4aca85;
        height: 2px;
        width: 0%;
        -webkit-transition: 0.2s width;
        transition: 0.2s width;
        box-sizing: border-box;
    }

    .main-nav .navbar > li > a:hover:after, .main-nav .navbar > li.active > a:after {
        width: 100%;
    }

    /* dropdown */
    .main-nav .has-dropdown {
        position: relative;
    }

    .main-nav .has-dropdown > a:before {
        font-family: 'FontAwesome';
        content: "\f054";
        font-size: 6px;
        margin-left: 6px;
        float: right;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transition: 0.2s transform;
        transition: 0.2s transform;
    }

    .main-nav .dropdown {
        position: absolute;
        right: -50%;
        top: 0;
        background-color: #fff;
        width: 150px;
        text-align: center;
        -webkit-box-shadow: 0px 5px 5px -5px rgba(53, 64, 82, 0.2);
        box-shadow: 0px 5px 5px -5px rgba(53, 64, 82, 0.2);
        -webkit-transform: translateY(15px) translateX(50%);
        -ms-transform: translateY(15px) translateX(50%);
        transform: translateY(15px) translateX(50%);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
        z-index: 9999;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }

    .main-nav .navbar > .has-dropdown > .dropdown {
        top: 100%;
        right: 50%;
    }

    .main-nav .navbar > .has-dropdown > .dropdown .dropdown.dropdown-left {
        right: 150%;
    }

    .main-nav .dropdown li {
        display: block;
        padding: 0px 15px;
    }

    .main-nav .dropdown li a {
        display: block;
        color: #314659;
        border-top: 1px solid rgba(0, 0, 0, 0.03);
        padding: 10px 0px;
        font-size: 14px;
        cursor: pointer;
    }

    .main-nav .dropdown li:nth-child(1) a {
        border-top: none;
    }

    .main-nav .has-dropdown:hover > .dropdown {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0px) translateX(50%);
        -ms-transform: translateY(0px) translateX(50%);
        transform: translateY(0px) translateX(50%);
    }

    .main-nav .has-dropdown:hover > a:before {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

}

/* -- nav btn collapse -- */
.main-nav .nav-collapse {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 99999;
    display: none;
}

.main-nav .nav-collapse span {
    display: block;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
}

.main-nav .nav-collapse span:before, .nav-collapse span:after {
    content: "";
    display: block;
}

.main-nav .nav-collapse span, .nav-collapse span:before, .nav-collapse span:after {
    height: 4px;
    background: #314659;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.main-nav .nav-collapse span:before {
    -webkit-transform: translate(0%, 10px);
    -ms-transform: translate(0%, 10px);
    transform: translate(0%, 10px);
}

.main-nav .nav-collapse span:after {
    -webkit-transform: translate(0%, -14px);
    -ms-transform: translate(0%, -14px);
    transform: translate(0%, -14px);
}

.main-nav.open .nav-collapse span {
    background: transparent;
}

.main-nav.open .nav-collapse span:before {
    -webkit-transform: translateY(0px) rotate(-135deg);
    -ms-transform: translateY(0px) rotate(-135deg);
    transform: translateY(0px) rotate(-135deg);
}

.main-nav.open .nav-collapse span:after {
    -webkit-transform: translateY(-4px) rotate(135deg);
    -ms-transform: translateY(-4px) rotate(135deg);
    transform: translateY(-4px) rotate(135deg);
}

/* å°å±å¹• */
@media only screen and (max-width: 767px) {
    .main-nav {
        padding: 0px 0px;
    }

    .main-nav.nav-transparent {
        background: #FFF;
    }

    /* logo */
    .main-nav.nav-transparent .navbar-brand .logo-alt {
        display: none !important;
    }

    .main-nav.nav-transparent .navbar-brand .logo {
        display: block !important;
    }

    .main-nav .navbar-header {
        display: block;
    }

    .main-nav .nav-collapse {
        display: block;
    }

    /* navbar */
    .main-nav .navbar {
        position: fixed;
        z-index: 1;
        top: 50px;
        bottom: 0;
        max-width: 250px;
        overflow-y: auto;
        box-shadow: 0px 80px 0px 0px #1C1D21;
        -webkit-box-shadow: 0px 80px 0px 0px #1C1D21;
        width: 0%;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        background: #1C1D21;
        transition: 0.2s all;
        -webkit-transition: 0.2s all;
    }

    .main-nav.open .navbar {
        width: 100%;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
    }

    .main-nav .navbar li {
        border-top: 1px solid rgba(250, 250, 250, 0.1);
        display: block;
        padding: 0;
    }

    .main-nav .navbar > li.active {
        border-left: 6px solid #4aca85;
    }

    .main-nav .navbar li a {
        display: block;
        color: #FFF;
        transition: 0.2s all;
        -webkit-transition: 0.2s all;
        padding: 10px 15px;
    }

    .main-nav .navbar li a:hover {
        background-color: #4aca85;
        color: #FFF;
        opacity: 1;
    }

    /* dropdown */
    .main-nav .has-dropdown > a:after {
        content: "\f054";
        font-family: 'FontAwesome';
        float: right;
        -webkit-transition: 0.2s -webkit-transform;
        transition: 0.2s -webkit-transform;
        transition: 0.2s transform;
        transition: 0.2s transform, 0.2s -webkit-transform;
    }

    .main-nav .dropdown {
        opacity: 0;
        visibility: hidden;
        height: 0;
        background: rgba(250, 250, 250, 0.1);
    }

    .main-nav .dropdown li a {
        padding: 6px 10px;
    }

    .main-nav .has-dropdown.open-drop > a:after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .main-nav .has-dropdown.open-drop > .dropdown {
        opacity: 1;
        visibility: visible;
        height: auto;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
}

/* home */

header {
    position: relative;
}

#home {
    height: 100vh;
}

#home .bg-img {
    background-image: url('/resouce/img/map.jpg');
}

#home .home-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    font-size: 16px;
}

#home .home-content h1 {
    font-size: 36px;
}

#home .home-content .layui-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 130px;
}

#home .home-angle {
    cursor: pointer;
    font-size: 26px;
    color: #fff;
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    text-align: center;
}

#home .home-angle > i {
    -webkit-animation: bounce-down 1.5s linear infinite;
    animation: bounce-down 1.5s linear infinite;
    display: inline-block;
}

/** ç®­å¤´ä¸Šä¸‹è·³åŠ¨ */
@-webkit-keyframes bounce-down {
    25% {
        -webkit-transform: translateY(-10px);
    }
    50%, 100% {
        -webkit-transform: translateY(0);
    }
    75% {
        -webkit-transform: translateY(10px);
    }
}

@keyframes bounce-down {
    25% {
        transform: translateY(-10px);
    }
    50%, 100% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(10px);
    }
}

/** ä¸»è¦ç‰¹è‰² */

.service {
    position: relative;
    padding: 20px 20px 40px 70px;
    font-size: 16px;
}

.service i {
    position: absolute;
    left: 20px;
    text-align: center;
    font-size: 32px;
    color: #4aca85;
    border-radius: 50%;
    margin-top: 2px;
}

/** æŽˆæƒ */

.pricing {
    position: relative;
    text-align: center;
    background-color: #FFF;
    z-index: 11;
    margin: 15px 0px;
    box-shadow: 0px 3px 38px -13px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    font-size: 16px;
}

.pricing .price-head {
    position: relative;
    margin-bottom: 20px;
}

.pricing .price-title {
    padding: 40px 0px 15px;
    color: #314659;
    font-weight: 400;
    font-size: 25px;
}

.pricing .price {
    position: relative;
    font-size: 38px;
    color: #4aca85;
    font-weight: 300;
    line-height: 1;
}

.pricing .price .currency {
    font-size: 22px;
    padding-right: 5px;
    font-weight: 500;
    vertical-align: top;
}

.pricing .duration {
    display: inline-block;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    padding-top: 6px;
    padding-right: 20px;
    margin: 0 auto;
    position: relative;
}

.pricing .duration .layui-icon {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0;
    color: rgba(0, 0, 0, 0.6);
}

.pricing .price-btn {
    padding-top: 20px;
    padding-bottom: 40px;
}

.price-content li {
    text-align: left;
    padding: 0 35px;
    margin-bottom: 15px;
}

.price-content li.active {
    color: #4aca85;
}

/** é€‰æ‹©æŒ‡å— */

.about {
    position: relative;
    text-align: center;
    padding: 40px 20px;
    border: 1px solid #EEE;
    margin: 15px 0px;
    font-size: 16px;
}

.about i {
    font-size: 36px;
    color: #4aca85;
    margin-bottom: 20px;
}

.about h3 {
    color: #314659;
}

.about p {
    line-height: 1.6;
}

.about .outline-btn {
    margin-top: 20px;
    border-width: 2px;
}

/** åº•éƒ¨ */

footer {
    position: relative;
   /*  padding-top: 40px; */
    color: #868F9B;
    font-size: 16px;
    line-height: 1.8;
}

footer a {
    color: #868F9B !important;
}

.footer-copyright {
    text-align: center;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, .2);
    padding: 10px 0;
}

.footer-item-group {
    text-align: center;
    margin-bottom: 40px;
}

.footer-item-group h3 {
    color: #4aca85;
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 13px;
}

.footer-item-group p {
    text-align: left;
    padding-left: 15px;
    margin-bottom: 0;
    max-width: 260px;
}

/** åŠ è½½åŠ¨ç”» */

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    z-index: 99999;
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preloader span {
    display: inline-block;
    background-color: #4aca85;
    width: 25px;
    height: 25px;
    -webkit-animation: 1s preload ease-in-out infinite;
    animation: preload 1s ease-in-out infinite;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    border-radius: 50%;
}

.preloader span:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.preloader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.preloader span:nth-child(3) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.preloader span:nth-child(4) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes preload {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes preload {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

/** ç™»å½• */
.logGroup {
    max-width: 330px;
    text-align: center;
    background: #fff;
    margin: 0 auto;
    padding: 25px 30px;
    border-radius: 6px;
    box-shadow: 0px 3px 38px -13px rgba(0, 0, 0, 0.2);
}

.logGroup .form-header h2 {
    margin-bottom: 5px;
}

.logGroup .form-header p {
    margin-bottom: 15px;
}

.logGroup .layui-form-item {
    margin-bottom: 25px;
}

.logGroup .btn-default {
    border: 1px solid #aaa;
}

/* éªŒè¯ç  */
.form-ver-group {
    position: relative;
    height: 45px;
}

.form-ver-group .form-ver-input {
    padding-right: 110px;
}

.form-ver-group .layui-btn {
    width: 100px;
    height: 45px;
    line-height: 45px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* --  Input  -- */
.logGroup .layui-input {
    background: #F1F3F4;
    border: 2px solid #F1F3F4;
    height: 45px;
}

.logGroup .layui-input:hover {
    border-color: #F1F3F4 !important;
}

.logGroup .layui-input:focus {
    border-color: #F1F3F4 !important;
    border-bottom-color: #4aca85 !important;
}

.logGroup .layui-input.layui-form-danger:focus {
    border-bottom-color: #FF5722 !important;
}

/** adminé£Žæ ¼çš„å¼¹çª— */
.layui-layer.layui-layer-admin {
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .3) !important;
    border: none !important;
    border-radius: 6px;
}

.layui-layer.layui-layer-admin .layui-layer-title {
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    border-radius: 6px 6px 0 0;
    border-color: rgba(0, 0, 0, .05);
}

/** å¼¹çª—æŒ‰é’® */
.layui-layer.layui-layer-admin .layui-layer-btn .layui-layer-btn0 {
    border-color: #4aca85;
    background-color: #4aca85;
}

.layui-layer.layui-layer-admin .layui-layer-btn a {
    height: 34px;
    line-height: 34px;
    border-radius: 5px;
}

.layui-layer-admin {
    max-width: 100%;
}

.layui-layer-iframe .layui-layer-content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/** è¡¨æ ¼ä¸Šæ–¹å·¥å…·æ æ ·å¼ */

.layui-form.toolbar {
}

.layui-form.toolbar .layui-form-item {
    margin-bottom: 0;
}

.toolbar + table {
    margin: 2px 0 !important;
}

.toolbar + table + .layui-table-view {
    margin: 0 !important;
}

.mr0 {
    margin-right: 0 !important;
}

.w-auto {
    width: auto;
}

@media screen and (max-width: 450px) {
    .layui-form-item .w-auto + .layui-input-inline {
        margin-left: 100px;
    }

    .layui-form-item .layui-inline {
        margin-bottom: 8px;
    }
}

.layui-form-select .layui-input {
    padding-right: 0px;
}

.layui-input[type=number] {
    line-height: 38px;
}

/** å¼¹çª—å†…è¡¨å•æ ·å¼ */
.layui-form.model-form {
    padding: 30px 30px 0px 0px;
}

/** å¦‚æžœæŒ‰é’®åŠ å›¾æ ‡å‡å°‘å†…è¾¹è· */
.icon-btn {
    padding: 0 10px;
}