		*{margin:0;padding:0;box-sizing:border-box;}
			*,*:before,*:after{box-sizing: inherit;}
			html{-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;box-sizing:border-box; }
			html,body{font-family:Verdana,sans-serif;font-size:14px;line-height:1.5;}
			html::-webkit-scrollbar,.element::-webkit-scrollbar{display: none;}
			a{text-decoration: none;background:0 0}
			mark{background:#ff0;color:#000}
			img{border-style: none;}
			@media print{*{text-shadow:none!important;color:#000!important;background:0 0!important;box-shadow:none!important}}
	
		body{
		display:flex;
		padding:0;
		margin:0;
		color:#d9d9d9;
		font-size:12px;
		}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4d4d4d; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
 	border:4px #fff;
	border-style:outset; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@keyframes slideup {from {bottom: -1200px;}to {bottom: 0px;}}

		.btn-primary{
		padding:10px;
		cursor: pointer;
		color:#4d4d4d;			
		}
		
		.check_btn_mob{
		padding:10px;
		cursor: pointer;
		color:#4d4d4d;
		}

		.check_btn{
		padding:10px;
		cursor: pointer;
		color:#4d4d4d;
		}	
		
		.btn-scondary{
		padding:5px;
		cursor: pointer;
		color:#4d4d4d;			
		}

		hr{
		width:100%;
		border: 2px #8c8c8c;
		border-style:inset;
		margin: 15px 0px 15px 0px;
		}

		.flexi{
		display:flex;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		justify-content:center;
		align-items:center;
		}
		
		.boxi{
		display:flex;
		justify-content:center;			
		position:relative;
		border-radius:5px;
		}
		
		@media screen and (min-width: 1200px) {
			.boxi {
			width:800px
			}
			
			hr.solid1{
			display:none!important;
			}
			
		.showdown, .hidedown{
			display:none!important;
			}
			.boxi {	
			background:none!important;
			}
		}	
		
		.CodeMirror{
		height:150px!important;
		}
		
		@media screen and (max-width: 767px) {
			.boxi {	
			display:block;
			background:#666666;		
			width:100%!important;
			height:100%!important;
			border-radius:0!important;
			}
			
			.dark_light{
			top:-45px;
			right:-5px!important;
			}
			
			.gchecker {
			width:100%!important;
			border-radius:0!important;
			}
			
			.CodeMirror{
			font-size:12px
			height:150px!important;
			}
			
			.result {
			width:100%!important;
			border-radius:0!important;
			border:none!important;
			align-items:center;
			padding:15px 15px 100px 15px!important;			
			}			
			
			.download-result .hidedown{
			position:absolute;
			right:0;
			display:flex;
			background:#666666;
			align-items:center;
			justify-content:center;
			width:30px;
			height:30px;
			border:2px #8c8c8c;
			border-style:outset;
			color:#ff0066;
			font-weight:bold;
			border-radius:5px;
			margin:-10px 0px 0px 10px;
			}
			
			.download-result .showdown{
			position:absolute;
			right:0;
			display:flex;
			padding-bottom:10px;
			background:#666666;	
			align-items:center;
			justify-content:center;
			width:30px;
			height:30px;
			padding-top:5px;
			border:2px #8c8c8c;
			border-style:outset;
			color:#00ffff;
			font-weight:bold;
			border-radius:5px;
			margin:-10px 0px 0px 10px; 
			}
			
			.check_btn_mob{
			display:block!important;
			}
			
			.check_btn{
			display:none!important;
			}
			
			.header{
			margin-top:40px!important;
			}
			
		}
		
		@media screen and (max-width: 1199px) and (min-width: 768px) {
			
			.boxi {	
			display:block;
			background:#666666;		
			width:100%!important;
			height:100%!important;
			border-radius:0!important;
			}
			
			.result{
			width:100%!important;
			flex-direction:row!important;
			justify-content:center;
			border-radius:0!important;
			align-items:none!important;
			}
			
			#cm_mail{
			gap:10px!important;
			flex-direction:row!important;
			}
			
			.mailinput, .mailoutput{
				width:50%;
			}
			
			.CodeMirror{
			height:350px!important;
			}
			
			.download-result{
			border:4px #999999;
			border-style: hidden hidden hidden groove;
			padding-left:15px;
			}			
			
			hr.solid2{
			display:none;
			position:absolute;
			top:-30px;
			width:90%!important;
			}
			
		
			
			.gchecker {
			width:100%!important;
			border-radius:0!important;
			}		
			
			.indicator{
			margin:0px!important;
			}

			.showdown, .hidedown{
			display:none!important;
			}

			::-webkit-scrollbar {
 			 width: 2px!important;
			}
			
			hr.solid1{
			display:none!important;
			}
			
			.appversion{
			position:fixed!important;
			right:5px;
			bottom:5px;
		}
			
			
		}

		@media screen and (max-width: 300px) {
			.result,.gchecker button,.gchecker h2,.gchecker h3,#indi_progress{
			zoom:75%;
			}

		}		
		
		.gchecker{
		width:55%;		
		background:#666666;
		padding:15px;
		border-right: 1px solid #4d4d4d;
		border-radius:5px;
		position:relative;
		}

		.title{
		font-size:16px;
			}
		
		.result{
		display:flex;
		flex-direction:column;	
		width:40%;	
		background:#666666;	
		padding:15px;
		position:relative;
		border: 1px #8c8c8c;
		border-style:hidden hidden hidden inset;
		border-radius:5px;
		}
		
		#cm_mail{
		display:flex;
		flex-direction:column;
		gap:25px;
		}
	
		#indi_progress{
			display:flex;
			align-items:center;
			margin:10px 0px 10px 0px;
			gap:10px;
			}
		
		.indicator{
		width:100%;
		display:flex;
		flex-direction:column;
		align-items:center;
		}
		
		#indi_items{
		display:flex;
		flex-direction:column;
		width:100%;
		}
		
		.indi_item{
		display:flex;
		justify-content:left;
		align-items:center;

		padding:5px 0px 5px 0px;
		}
		
		.indi_item .indi_title{
		min-width:60px;
		}
		
		.indi_item .indi_spara{
		min-width:20px;
		display:flex;
		justify-content:center;
		}
		
		.indi_item .indi_trans{	
		min-width:195px;
		color:#fff;
		overflow: hidden;
		white-space: nowrap; 		
		text-overflow: ellipsis; 		
		}
		
		.download-result{
		bottom:0;
		background:#666666;	
		width:100%;
		display:flex;
		flex-direction:column;
		align-items:center;
		z-index:999;
		gap:5px;
		}	

		.downres_item {
		width:100%;
		display:flex;
		justify-content:left;
		align-items:center;
		}
		
		.downres_item p{
		min-width:65px;
		}		
		
		.rp-down{
		border-radius:5px;
		width:100%;
		height:30px;
		font-weight:bold;
		background:#595959;
		text-align:center;
		border:1px #808080;
		border-style:inset;
		display:flex;
		justify-content:center;
		align-items:center;
		margin:5px;
		}
			
		.CodeMirror{	
		background: #e6f5ff;
		width:100%!important;
		border:none!important;
		border-radius:5px;
		}
		
		.CodeMirror-hscrollbar{
		display:none!important;
		}
		
		CodeMirror-scrollbar-filler{
		display:none
		}

		.CodeMirror-scroll{
		background: linear-gradient(to top right, #f2f2f2 0%, #d9d9d9 100%);
		font-weight:700!important;
		font-size:12px;	
		border:none!important;	
		}

		.CodeMirror-gutters{
		background: linear-gradient(to top, #f2f2f2 0%, #d9d9d9 100%);	
		border:none!important;
		border:none!important;
		}
		
		.CodeMirror-linenumber{
		font-weight:300!important;
		font-size:12px;
		border:none!important;
		}
		
		.btn-executor{
		display:flex;
		justify-content:right;
		}
		
		@keyframes progress-bar-stripes
		{
			from
			{
				background-position: .5rem 0;
			}
			to
			{
				background-position: 0 0;
			}
		}

		.progress
		{
			font-size: .75rem;

			display: flex;
			overflow: hidden;

			height: 14px;
			width:100%;

			border-radius: 3px;
			background-color: #8c8c8c;
			box-shadow: inset 0 .1rem .1rem rgba(31, 45, 61, .1);
		}

		.progress-bar
		{
			display: flex;
			overflow: hidden;
			flex-direction: column;

			transition: width .6s ease; 
			text-align: center;
			white-space: nowrap;

			color: #ffffff;
			background-color: #00cc00;

			justify-content: center;
		}
		@media (prefers-reduced-motion: reduce)
		{
			.progress-bar
			{
				transition: none;
			}
		}

		.progress-bar-striped
		{
			background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
			background-size: .5rem .5rem;
		}

		.progress-bar-animated
		{
			animation: progress-bar-stripes 1s linear infinite;
		}
		@media (prefers-reduced-motion: reduce)
		{
			.progress-bar-animated
			{
				animation: none;
			}
		}

		.appversion{
		position:absolute;
		right:5px;
		bottom:5px;
		z-index:1000;
		}
		
