

<div class="konten-sample2" style="background: #e3f2fd; padding: 20px; border-radius: 8px; margin-top: 20px;">
    <h3><i class="fas fa-star"></i> Konten Sample 2</h3>
    <br>
    <p>lokasi : /partials/sample2.html</p>
    <br>
    <h2> Halaman ini dimuat dengan: </h2>
    <div class="info-autoFill">
        <div>Sanitasi : <span class="info-sanitaze"></span></div>
        <div>Jalankan Script : <span class="info-runScripts"></span></div>
        <div>Lazy Loading : <span class="info-lazy"></span></div>
        <div>Strategi Cache : <span class="info-cache"></span></div>
        <div>Posisi Penempatan : <span class="info-position"></span></div>
    </div>
    <br>
    <p class="rs2">Tidak ada tombol yang ditampilkan</p>
    <p class="rs2">checklist jalankan script dan unchek Sanitaze, kemudian muat ulang halaman Sample 2</p>
    <p class="rs2">tombol akan ditampilkan di sini</p>
    <div class="konten-dinamis2"></div>
</div>

<script>
     function initSampleContent2() {
        const kontainer = document.querySelector(".konten-sample2");
        if (!kontainer) return;

        const kontenDinamis = kontainer.querySelector(".konten-dinamis2");
        if (!kontenDinamis) return;

        const tombol = document.createElement("button");
        tombol.textContent = "uji tombol";

        const p1 = document.createElement("p");
        p1.textContent = "halaman dimuat dengan script - sample 2";

        kontenDinamis.appendChild(p1);
        kontenDinamis.appendChild(tombol);

        tombol.addEventListener("click", function () {
            const p2 = document.createElement("p");
            p2.innerHTML = `
                Tombol 2 bekerja karena script sudah berjalan!<br>
                Silahkan matikan runScripts atau hidupkan sanitaze<br>
                dan coba muat halaman lagi,<br>
                anda tidak akan melihat tombol ini lagi.
            `;
            kontenDinamis.appendChild(p2);
        });

        // Sembunyikan semua elemen .rs2
        kontainer.querySelectorAll('.rs2').forEach(el => {
            el.style.display = 'none';
        });
    }

    // Jalankan fungsi
    initSampleContent2();
</script>