

<div class="konten-sample4" style="background: #e3f2fd; padding: 20px; border-radius: 8px; margin-top: 20px;">
    <h3><i class="fas fa-star"></i> Konten Sample 4</h3>
    <br>
    <p>lokasi : /partials/sample4.html</p>
    <br>
    <h2> Halaman ini dimuat dengan: </h2>
    <div class="info-autoFill">
        <div>Sanitasi : <span class="info-sanitaze"></span></div>
        <div>Jalankan Script : <span class="info-runScripts"></span></div>
        <div>Lazy Loading : <span class="info-lazy"></span></div>
        <div>Strategi Cache : <span class="info-cache"></span></div>
        <div>Posisi Penempatan : <span class="info-position"></span></div>
    </div>
    <br>
    <p class="rs4">tombol hilang! terjadi karena memuat dengan runScripts = false atau sanitaze = true</p>
    <p class="rs4">aktifkan runScripts dan nonaktifkan Sanitaze, kemudian muat ulang halaman Sample 4</p>
    <p class="rs4">tombol berada di sini</p>
    <div class="konten-dinamis4"></div>
</div>

<script>
     function initSampleContent4() {
        const kontainer = document.querySelector(".konten-sample4");
        if (!kontainer) return;

        const kontenDinamis = kontainer.querySelector(".konten-dinamis4");
        if (!kontenDinamis) return;

        const tombol = document.createElement("button");
        tombol.textContent = "uji tombol";

        const p1 = document.createElement("p");
        p1.textContent = "halaman dimuat dengan script - sample 4";

        kontenDinamis.appendChild(p1);
        kontenDinamis.appendChild(tombol);

        tombol.addEventListener("click", function () {
            const p2 = document.createElement("p");
            p2.innerHTML = `
                Tombol 2 bekerja karena script sudah berjalan!<br>
                Silahkan matikan runScripts atau hidupkan sanitaze<br>
                dan coba muat halaman lagi,<br>
                anda tidak akan melihat tombol ini lagi.
            `;
            kontenDinamis.appendChild(p2);
        });

        // Sembunyikan semua elemen 
        kontainer.querySelectorAll('.rs4').forEach(el => {
            el.style.display = 'none';
        });
    }

    // Jalankan fungsi
    initSampleContent4();
</script>